<div id="introBubble" class="rounded_panel txt_lightgrey">
  <div class="top-rounded-panel grey-bg">
    <h1 id="user-intro">Software</h1>
    <hr>
  </div>
  <div class="content-rounded-panel">
    <div id="introBlurb">
      <p>
	Here I've begun collecting some software I've created or that I'm collaboratively developing and maintaining. This list rigorously includes only open source software. It is organised into broad categories to ease navigation:
	<ul>
	  <li><a href="#mlalg">Machine Learning</a></li>
	  <li><a href="#bioinf">Genomics/Bioinformatics</a></li>
	  <li><a href="#dsalg">Data Structures and Algorithms</a></li>
	</ul>
      </p>
    </div>
    <br>
  </div>
</div>
