<div id="geonomicsBubble" class="rounded_panel txt_lightgrey">
  <div class="top-rounded-panel grey-bg">
    <a name="genomics"></a>
    <h1 id="user-genomics">Genomics</h1>
    <hr>
  </div>
  <div class="content-rounded-panel">
    <div id="thrBlurb">
      <h2>The Track Hub Registry - A global centralised collection of publicly accessible track hubs</h2>
      <br/>
      <p align="justify">
	A centralised repository for registering and discovering publicly accessible <a href="http://genome.ucsc.edu/goldenPath/help/hgTrackHubHelp.html#Intro" target="_blank">track hubs</a>, to allow third parties willing to share their data to advertise their services, and to make it easier for researchers around the workd to discover and use hubs containing different types of genomic research data. The Registry provides an intuitive and easy to use search interface, and RESTful APIs for registering and searching track hubs, checking if a track hub is still available and obtain information which can be used by genome browsers to build convenient interfaces.
      </p>
      <p><a href="https://github.com/Ensembl/trackhub-registry" target="_blank">GitHub</a> <a href="https://www.trackhubregistry.org" target="_blank">Website</a></p>
    </div>
    <hr>
    <div id="ensemblrestBlurb">
      <h2>Ensembl REST API Server</h2>
      <br/>
      <p align="justify">
	A Web service to access Ensembl data using Representational State Transfer (REST). The Ensembl REST server enables the easy retrieval of a wide range of Ensembl data by most programming languages, using standard formats such as JSON and FASTA while minimizing client work. It also provides bindings to the popular Ensembl <a href="https://www.ensembl.org/info/docs/tools/vep/index.html" target="_blank">Variant Effect Predictor</a> tool permitting large-scale programmatic variant analysis independent of any specific programming language.
      </p>
      <p><a href="https://github.com/Ensembl/ensembl-rest" target="_blank">GitHub</a> <a href="https://rest.ensembl.org" target="_blank">API Documentation</a></p>
    </div>
  </div>
</div>
