<div id="mlBubble" class="rounded_panel txt_lightgrey">
  <div class="top-rounded-panel grey-bg">
    <a name="mlalg"></a>
    <h1 id="user-ml">Machine Learning</h1>
    <hr>
  </div>
  <div class="content-rounded-panel">
    <div id="rnnBlurb">
      <h2>Recursive Neural Networks - Neural networks for general data structures</h2>
      <br/>
      <p align="justify">
	Recursive neural networks are a form of recurrent networks that is designed to process more generic data types than fixed n-dimensional vectors or sequences, e.g. n-ary trees, directed acyclic graphs, representing causal relationships among elements in a particular domain.
      </p>
      <p align="justify">
	This software provides a common framework for learning with different data structure types, possibly containing cycles, thus extending the classical theory. It is a rewrite of the code I have implemented in support of my PhD and post-doc work while at the Universit&agrave; degli Studi di Firenze, University of California at Irvine and University College Dublin. It has been successfully applied in different problems related to structural bioinformatics, as described in many <a href="publications.html">pulications</a>.
      </p>
       <p><a href="https://github.com/avullo/recursive-neural-networks" target="_blank">GitHub</a></p>
    </div>
    <br>
  </div>
</div>
