<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Software Engineer working at the European Bioinformatics Institute, having previously spent over 7 years as a university researcher in the field of Machine Learning and Bioinformatics, giving me a good blend of enterprise and academic experience. <br/><br/>
			I enjoy contributing to the creation of great products for the benefit of people and working in a dynamic environment with a focus on good development practices and automation.
		</div>
		<br>
	</div>
</div>
